.root{
	-fx-background-color: white;
}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.scroll-pane {
   -fx-background-color: white;
}

.label, .radio-button{
	-fx-text-fill: black;
	-fx-font-family: verdana;
}


.titulo{
	-fx-text-fill: white;
	-fx-font-size: 20px;
	-fx-font-family: verdana;
	-fx-font-style: italic;
}

.button-com-ico{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

.button-com-ico:focused {
    -fx-border-color: transparent, black;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 2);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button-com-ico:pressed {
    -fx-background-color: white;
}

.text-field {
    -fx-border-radius: 5;
    -fx-background-color : white;
    -fx-border-color: black;
    -fx-border-width: 1;
}
